html {
  box-sizing: border-box;
}

*,::before,::after {
  box-sizing: inherit;
}

body {
  margin: auto;
  max-width: 900px;
  width: 100%;
  padding: 10px;
  background-color: #eee;
  font-family: 'Montserrat', sans-serif;
  word-break: break-word;
}

