.list__allTaskButton {
  border: none;
  color: teal;
  background-color: white;
  font-size:  18px;
  font-weight: 500;
  font-family: inherit;
  transition: 0.50s;
}

.list__allTaskButton:hover {
  color: rgb(9, 207, 207);
}

@media(max-width:767px) {
  .allTasksButtons {
    display: grid;
  }
}

.list__allTaskButton:disabled {
 color: rgb(156, 156, 156);
}
